<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="/src/js/main.js" type="module"></script>
    <link rel="stylesheet" href="/thirdparty/css/w3.css" />
    <link rel="stylesheet" href="/src/css/styles.css" />
    <title>EMERNET E.I.N.S</title>
  </head>
  <body>
    <app-header
      title="EMERNET E.I.N.S"
      fa-classes="fa-home, fa-phone, fa-info"
      link-hrefs="/pages/us/, /pages/us/numbers.html, /pages/us/about.html"
    ></app-header>
    <div class="container-content-column-center">
      <h1>About</h1>
      <b>EMERNET E.I.N.S - Emergency Information Network System</b>
      <hr />
      <app-system-information></app-system-information>
      <hr />
      <h2>EMERNET E.I.N.S</h2>
      <p class="text-container">
        EMERNET E.I.N.S (Emergency Information Network System) was created to
        provide important information in case of a complete communication
        network failure. EMERNET provides information like important Telephone
        numbers, emergency news applications (ex. NINA) and emergency services
        (ex. shelter locations). All information provided is managed by the Open
        Source Community on GitHub and EMERNET-EINS.org. EMERNET is frequently
        updated to provide the latest information. To host your own instance of
        EMERNET E.I.N.S, please refer to the official EMERNET website, or visit
        the GitHub organisation.
      </p>
      <a href="#" class="w3-button w3-blue">EMERNET WEBSITE</a>
      <a href="https://github.com/emernet-eins" class="w3-button w3-blue"
        >GITHUB</a
      >
    </div>
  </body>
</html>
<!-- Please use this as a template for a new country about.html, as we want to have the same markup across all files.
    You can completely copy and re-use it, just make sure to translate and adjust everything accordingly.
-->
